PORT=3000

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=

DB_URL=

JWT_SECRET=
JWT_EXPIRATION=

NODE_ENV=

# Add your Gemini API key here
GEMINI_API_KEY=

# Google OAuth
GOOGLE_CLIENT_ID=
# GOOGLE_CLIENT_SECRET=your_google_client_secret